<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        
        

        <div class="carousel-inner">        
          <div class="carousel-item CarouselImg" [ngClass]="{'active':i==0}" *ngFor="let image of images; let i = index">
            <img class="d-block w-100 img-fluid" [src]="image.url" alt="">
          </div>         
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Próximo</span>
        </a>
      </div>
<div class="row">
    <div class="pl10 text-center">      
        <div *ngFor="let image of images; let i = index" class="carousel-ind  active" data-target="#carouselExampleIndicators" [attr.data-slide-to]="i">
                <img [src]="image.url" alt="" class="img-thumbnail img-fluid">
        </div>          
    </div>
</div>