<!-- card_with_prices - no título já vem DE: => POR: -->
<div class="container-fluid">
<div class="row">    
        <div class="col-sm-3" *ngFor="let produto of produtos;">
            <app-card
                [card_title]="produto.produto_titulo"
                [card_image_src]="produto.produto_imagem.url"
                [card_text]=""
                [card_with_prices]="false"
                [card_price_market]="produto.produto_preco_mercado"
                [card_price]="produto.produto_preco"
                [card_link]="['/produto',produto.produto_id]"
            ></app-card>
        </div>    
</div>
</div>