<!-- card_with_prices - no título já vem DE: => POR: -->
<div class="container-fluid">
<div class="row">    
        <div class="col-sm-3" *ngFor="let offer of offers;">
            <app-card
                [card_title]="offer.title"
                [card_image_src]="offer.image.url"
                [card_text]=""
                [card_with_prices]="false"
                [card_price_market]="offer.market_price"
                [card_price]="offer.price"
            ></app-card>
        </div>    
</div>
</div>