<br />
<div class="row">
    <div class="col-sm-6">
        <h1>Pagamento</h1>
        <form *ngIf="ispago == false" #form="ngForm" [formGroup]="cartaoForm" (submit)="enviaCartao()">
            <div class="form-group">                
                <input type="text" class="form-control" id="cartaoNumero" aria-describedby="cartaoNumero" placeholder="0000 0000 0000 0000">
                <small id="cartaoNumero" class="form-text text-muted">Informe aqui o número do seu cartão de crédito</small>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="cartaoNome" aria-describedby="cartaoNome" placeholder="JOÃO C D SILVA">
                <small id="cartaoNome" class="form-text text-muted">Informe aqui o nome como impresso no cartão de crédito</small>
            </div> 
            <div class="form-group">
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="00/00">
                    <small id="cartaoValidade" class="form-text text-muted">Informe aqui a validade</small>
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="000">
                    <small id="cartaoCodigoSeg" class="form-text text-muted">Informe aqui o código de segurança</small>
                </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block"><i class="fa fa-money"></i> Pagar agora !</button>
        </form>
        <div *ngIf="ispago == true" class="alert alert-success" role="alert">
            <p class="text-center">Pagamento efetuado com sucesso!</p>
            <p class="text-center"><i class="fa fa-5x fa-check-circle"></i></p>
        </div>
    </div>
    <div *ngIf="ispago == true" class="col-sm-6">
        <h1>Resumo da Compra</h1>
        <ul class="list-group">
            <li class="list-group-item">1x Item Tal <br /> R$200,00</li>
            <li class="list-group-item">2x Item 2 <br /> R$200,00</li>   
            <li class="list-group-item d-flex justify-content-between align-items-center active">Total
                    <span class="badge-primary badge-pill">R$400,00</span>
            </li>  
        </ul>
    </div>
</div>