<h1>Hoteis</h1>
<div class="row">
    <div class="col-sm-3">
        <div class="card" style="width: 18rem;">
            <img src="https://cdnbr2.img.sputniknews.com/images/1202/87/12028777.jpg" class="card-img-top" alt="Tubarão">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card" style="width: 18rem;">
            <img src="https://cdnbr2.img.sputniknews.com/images/1202/87/12028777.jpg" class="card-img-top" alt="Tubarão">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card" style="width: 18rem;">
            <img src="https://cdnbr2.img.sputniknews.com/images/1202/87/12028777.jpg" class="card-img-top" alt="Tubarão">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card" style="width: 18rem;">
            <img src="https://cdnbr2.img.sputniknews.com/images/1202/87/12028777.jpg" class="card-img-top" alt="Tubarão">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>