<br />
<div class="row">
    <div class="col-sm-8">
        <app-carousel></app-carousel>
    </div>
    <div class="col-sm-4">
        <h1 class="text-center">Hotel</h1>
        <div class="text-center">Descrição</div>
        <h4 class="text-center">por apenas</h4>
        <h1 class="text-center">R$ 0,00</h1>
        <a href="#" class="btn btn-lg btn-block btn-primary">Comprar</a>
    </div>
    <div class="col-sm-12">
        <h1>Detalhes da oferta</h1>
    </div>
    <div class="col-sm-12">
        <h1>Destaques da Oferta</h1>
    </div>
</div>
