<br />
<div class="row">
    <div class="col-sm-8">
        <app-carousel [images]="produto.produto_imagens"></app-carousel>
    </div>
    <div class="col-sm-4">
        <h5 class="text-center">{{produto.produto_titulo}}</h5>
        <div class="text-center">Descrição</div>
        <h4 class="text-center">por apenas</h4>
        <h1 class="text-center">{{produto.produto_preco}}</h1>
        <a [routerLink]="['/pagamento']" class="btn btn-lg btn-block btn-primary">Comprar</a>
    </div>
    <div class="col-sm-12">
        <h3>Detalhes da oferta</h3>
        <div class="row">
            <div class="col-sm-6">
                <i class="fa fa-check"></i>
                <div [innerHTML]="produto.produto_descricao"></div>
            </div>           
        </div>
    </div>
    <div class="col-sm-12">
        <h3>Destaques da Oferta</h3>
        <div class="row">
            <div class="col-sm-6">
                <i class="fa fa-star"></i>
                <div [innerHTML]="produto.produto_descricao"></div>
            </div> 
        </div>
    </div>
</div>
