<div class="card">
    <img src="{{card_image_src}}" class="card-img-top fixa" alt="Tubarão">
    <div class="card-body">
        <h5 class="card-title">{{card_title}}</h5>
        <p class="card-text">{{card_text}}</p>
        <p *ngIf="card_with_prices" class="card-title pricing-card-title">
            <app-prices [preco]="card_price" [preco_mercado]="card_price_market"></app-prices>
        </p>
        <a [routerLink]="card_link" class="btn btn-lg btn-block btn-primary">Comprar</a>
    </div>
</div>
